<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BagServlet</servlet-name>
        <servlet-class>Controller.BagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WomenServlet</servlet-name>
        <servlet-class>Controller.WomenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemC</servlet-name>
        <servlet-class>Controller.DeleteItemC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemW</servlet-name>
        <servlet-class>Controller.DeleteItemW</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplier</servlet-name>
        <servlet-class>Controller.DeleteSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>Controller.InsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSupplier</servlet-name>
        <servlet-class>Controller.InsertSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdate</servlet-name>
        <servlet-class>Controller.ProductUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierUpdate</servlet-name>
        <servlet-class>Controller.SupplierUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishToCart</servlet-name>
        <servlet-class>Controller.WishToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartToWish</servlet-name>
        <servlet-class>Controller.CartToWish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlist</servlet-name>
        <servlet-class>Controller.AddToWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BagServlet</servlet-name>
        <url-pattern>/BagServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WomenServlet</servlet-name>
        <url-pattern>/WomenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemC</servlet-name>
        <url-pattern>/DeleteItemC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemW</servlet-name>
        <url-pattern>/DeleteItemW</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplier</servlet-name>
        <url-pattern>/DeleteSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/InsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSupplier</servlet-name>
        <url-pattern>/InsertSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdate</servlet-name>
        <url-pattern>/ProductUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierUpdate</servlet-name>
        <url-pattern>/SupplierUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishToCart</servlet-name>
        <url-pattern>/WishToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartToWish</servlet-name>
        <url-pattern>/CartToWish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlist</servlet-name>
        <url-pattern>/AddToWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
